/* .home_main_box{
    /* border: 1px solid black; */

.home_search_box{
    /* border: 1px solid red; */
    margin-left: 40%;
}
.home_bottom_box{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 0px 50px;
}
.home_filter_box{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 25%;
    height: fit-content;
}
.home_products_box{
    width: 70%;
}
.filter_icon{
    visibility: hidden;
}

/* media query for mobile */
@media only screen and (max-width: 600px) {
    .home_search_box{
        /* border: 1px solid red; */
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home_filter_box{
        display: none;
    }
    .home_products_box{
       margin: auto;
    }
    .filter_icon{
        visibility: visible;
    }

  }